[Unit]
Description=Dark Pool Collector Celery Worker
After=network.target redis.service

[Service]
Type=simple
User=avxz
Group=avxz
WorkingDirectory=/opt/darkpool_collector
Environment="PATH=/opt/darkpool_collector/venv/bin"
ExecStart=/opt/darkpool_collector/venv/bin/celery -A celery_app.app worker --loglevel=info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 