[Unit]
Description=Dark Pool Collector Celery Beat
After=network.target redis.service darkpool-collector-worker.service

[Service]
Type=simple
User=avxz
Group=avxz
WorkingDirectory=/opt/darkpool_collector
Environment="PATH=/opt/darkpool_collector/venv/bin"
EnvironmentFile=/opt/darkpool_collector/.env.prod
ExecStart=/opt/darkpool_collector/venv/bin/celery -A celery_app.darkpool_app beat --loglevel=info --schedule=/opt/darkpool_collector/celerybeat-darkpool-schedule.db
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 