[Unit]
Description=News Collector Celery Worker
After=network.target redis.service

[Service]
Type=simple
User=avxz
Group=avxz
WorkingDirectory=/opt/darkpool_collector
Environment="PATH=/opt/darkpool_collector/venv/bin"
Environment="UW_API_TOKEN=9dd00196-7f7f-4e2c-ad7c-2c2cb6a33999"
EnvironmentFile=/opt/darkpool_collector/.env.prod
ExecStart=/opt/darkpool_collector/venv/bin/celery -A celery_app.news_app worker --loglevel=info -Q news_queue -n news_worker@%h
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 