[Unit]
Description=News Collector Service
After=network.target

[Service]
Type=simple
User=iversen
WorkingDirectory=/Users/iversen/Work/veveve/vvv-invest
Environment=PYTHONPATH=/Users/iversen/Work/veveve/vvv-invest
ExecStart=/usr/local/bin/celery -A celery_app worker -l info -Q news_collector
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 