[Unit]
Description=News Collector Celery Worker
After=network.target

[Service]
Type=simple
User=avxz
Group=avxz
WorkingDirectory=/opt/darkpool_collector
EnvironmentFile=/opt/darkpool_collector/.env.prod
Environment=PATH=/opt/darkpool_collector/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/darkpool_collector/venv/bin/celery -A news_celery_app.app worker --loglevel=info -Q news_collector -n news_worker@%h
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 